.media {
    display: flex;
    align-items: flex-start;
  }
  
  .media-figure {
    margin-right: 1em;
  }
  
  .media-body {
    flex: 1;
  }
  .pos-home-minus{
    position: relative;
    left: 48%;
    top: 0;
    right: 0;
    @include media-breakpoint-down(md) {
      position: relative;
      left: 45%;
      top: 0;
      right: 0;   
    }
}

  .content-minus{
    border:2px solid $bgColor7; 
    width:35px; 

    border-radius: 20px;
    background-color:$bgColor7;
    // margin-left: 5%;
    margin-top: 5%;
    @include media-breakpoint-down(md) {
      margin-left:0;
    }
  }
  .just-left{
    @include media-breakpoint-down(md) {
      text-align: justify !important;
    }
  }
  .all-image-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .all-text-center{

    @include media-breakpoint-down(md) {
      display: block;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  
  .zoom {
    width: 700px;
    height: auto;
    /* ease | ease-in | ease-out | linear */
    transition: transform ease-in-out 0.3s;
  }
  .zoom:hover {
    transform: scale(1.7);
  }